<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<aside th:replace="layout/layout :: sidebar"></aside>
	<main id="main" class="main">
		<div class="pagetitle">
			<h1 th:text="${titulo}"></h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/index">Inicio</a></li>
					<li class="breadcrumb-item">Clientes</li>
					<li class="breadcrumb-item active">Tabla</li>
				</ol>
			</nav>
		</div>
		<section class="section">
			<div class="row">
				<div class="col-lg">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title" th:text="${titulo}"></h5>
							<table class="table table-hover">
								<thead>
									<tr>
										<th scope="col">Id</th>
										<th scope="col">Descripcion</th>
										<th scope="col">Observacion</th>
										<th scope="col">F. Creacion</th>
										<th scope="col">F. Carga</th>
										<th scope="col">Acciones</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="factura: ${facturas}">
										<td><a th:href="@{/factura/ver/} + ${factura.id}"  th:text="${factura.id}"></a></td>
										<td th:text="${factura.descripcion}"></td>
										<td th:text="${factura.observacion}"></td>
										<td th:text="${factura.createdAt}"></td>
										<td th:text="${factura.usuario.dni}"></td>
										<td th:text="${factura.usuario.nombre} + ' ' + ${factura.usuario.apellido}"></td>
										<td class="icon">
											<a th:href="@{/factura/delete/} + ${factura.id}"
											   onclick="return confirm('Estas Seguro?');">
												<i class="bi bi-trash"></i>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>